<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.testprep">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name=".CustomFontApp"
            android:allowBackup="true"
            android:fitsSystemWindows="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity.TestReviewActivity">
        </activity>
        <activity android:name=".activity.CheckEmailActivity">
        </activity>
        <activity android:name=".activity.TestListActivity"/>
        <activity
                android:name=".activity.FilterActivity"
        />
        <activity
                android:name=".activity.MarketPlaceListActivity"
        />
        <activity android:name=".activity.SelectCompititiveActivity"/>
        <activity android:name=".activity.IntroActivity"/>
        <activity android:name=".activity.PrefrenceActivity"/>
        <activity android:name=".activity.NewActivity"/>
        <activity android:name=".activity.PackageDetailActivity"/>
        <activity android:name=".activity.SelectPackageActivity"/>
        <activity android:name=".activity.PaymentSuccessScreen"/>
        <activity android:name=".activity.TraknpayRequestActivity"/>
        <activity android:name=".old.NewPageActivity"/>
        <activity android:name=".activity.TabwiseQuestionActivity"/>
        <activity android:name=".activity.SelectStandardActivity"/>
        <activity android:name=".activity.SelectSubjectActivity"/>
        <activity android:name=".activity.SelectBoardActivity"/>
        <activity android:name=".activity.ForgotPasswordActivity"/>
        <activity
                android:name=".activity.OtpActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".activity.DashboardActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".activity.SignupActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".activity.LoginActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".old.WebviewPageActivity"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".old.PageActivity"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".activity.UpdateProfileActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".old.Main2Activity"
                android:label="@string/title_activity_main2"
                android:theme="@style/AppTheme.NoActionBar"/> <!-- <intent-filter> -->
        <activity android:name=".activity.MyPaymentActivity"/>
        <activity
                android:name=".activity.CoinActivity"
                android:windowSoftInputMode="adjustPan"/> <!-- <action android:name="android.intent.action.MAIN"/> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"/>
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true"/>
    </application>

</manifest>
